* {
    z-index: 9999;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    z-index: 9999;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .btn-openModal {
    z-index: 9999;
    position: absolute;
    top: 520px;
    left: 118px;
    background: #2c2c2c;
    color: #eee;
    font-size: 1rem;
    margin: 2rem;
    padding: .5rem 1.8rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .modal-wrapper {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    z-index: 9999;
    background: #fff;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    transition: all .5s ease;
  }
  
  .modal-header {
    position: relative;
    z-index: 9999;
    background: #2c2c2c;
    color: #e9e9e9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header span {
    position: relative;
    z-index: 9999;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-content {
    position: relative;
    z-index: 9999;
    padding: 1.5rem 1rem;
  }
  
  .modal-body {
    position: relative;
    z-index: 9999;
    margin-bottom: 1rem;
    border-width: 4vh;
  }
  
  .modal-body h4 {
    position: relative;
    z-index: 9999;
    font-size: 1.8rem;
    color: #DD501D;
  }
  
  .modal-body p {
    z-index: 9999;
    font-size: 1rem;
    background: #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
  }
  
  .modal-footer button {
    z-index: 9999;
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: #DD501D;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .back-drop {
    z-index: 9999;
  }