/* user.css
   Chatroom Assignment 
   Array Bootcamp Fall 2021
   Katie Greenwald, Steve Bateman, Bowen Condelario 
*/ 

.user-login,
.user-sign-up {
  margin: auto;
  margin-top: 80px;
  width: 50%;
  max-width: 300px;
}

.btn-green {
  background-color: #befe3b;
  box-shadow: 0px 0px 7px white, 0px 0px 15px #00ff19;
}

.username-input,
.password-input,
.email-input {
  color: #bd00ff !important;
  background-color: black;
  border: 2px solid #6bf4ff;
  border-radius: 7px;
  box-shadow: 0px 0px 8px white;
}

.sign-up-link {
  margin-top: 20px;
  color: #bd00ff;
}

.user {
  display: inline-flex;
}

.user-menu-vertical-line {
  margin-top: 40px;
  width: 3px;
  height: calc(100vh - 150px);
  background-color: #befe3b;
}

.user-menu {
  margin-top: 30px;
  width: 250px;
  text-align: center;
}

.user-menu-item,
.user-menu-item:visited,
.user-menu-item:hover {
  font-family: Changa;
  font-size: 2rem;
  text-decoration: none;
  color: #fe7fff;
}

h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.user-menu-item:hover {
  text-shadow: 0px 0px 8px white;
}

.user-menu-item-active {
  color: #6bf4ff !important;
}

.user-menu-hr {
  margin: auto;
  width: 200px;
  color: #fe7fff;
}

.edit-modals {
  background-color: #4f4f4f;
}

.user-profile {
  margin: auto;
  margin-top: 10px;
  width: calc(100vw - 253px);
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #6bf4ff;
  box-shadow: inset 0 0 5px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 10px;
  border: 1px solid #6bf4ff;
  box-shadow: 0 0 5px white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656565;
}

.nav-profile-pic {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.nav-profile-dropdown {
  display: inline-flex
}

.dropdown-menu[data-bs-popper]{
  left: -125px;
}
.user-profile-identification {
  display: inline-flex;
  margin-top: 50px;
  margin-left: 50px;
}

.user-profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px white;
  object-fit: contain;
  overflow: hidden;
}

.user-profile-edit-icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.user-profile-edit-icon:hover {
  box-shadow: 0 0 5px 0 white;
}

.user-profile-edit-icon-avatar {
  left: -25px;
  top: 160px;
}

.user-profile-username {
  font-family: Changa;
  color: white;
  margin: 20px;
}

.user-profile-lvl,
.user-profile-rank,
.user-profile-badges {
  color: white;
  margin: 10px;
  margin-left: 20px;
}

.user-profile-bio {
  margin-left: 50px;
}

.user-profile-bio-label {
  padding-left: 20px;
}

.user-profile-bio-textbox {
  border-radius: 10px;
  margin-right: 50px;
}

.user-profile-bio-text {
  color: white;
  padding: 10px;
}

.user-profile-email {
  color: #bd00ff;
  margin-left: 50px;
}

.user-settings {
  margin-top: 40px;
  margin-left: 50px;
  width: calc(100vw - 250px - 100px);
}

.user-settings-headers {
  color: #befe3b;
  margin: 20px;
  margin-left: 50px;
  margin-bottom: 0px;
}

.user-settings-color-themes {
  display: inline-flex;
}

.user-settings-color-themes:hover {
  cursor: pointer;
}

.user-settings-color-theme {
  margin: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid white;
}

.color-theme-op1 {
  background-color: #befe3b;
}

.color-theme-op2 {
  background-color: #bd00ff;
}

.color-theme-op3 {
  background-color: #6bf4ff;
}

.color-theme-op4 {
  background-color: #fe7fff;
}

.color-theme-op5 {
  background-color: #001aff;
}

.op1-active {
  box-shadow: 0 0 15px white;
}

.user-settings-message-density-bar,
.user-settings-message-brightness-bar {
  margin: 20px;
  width: 50%;
  max-width: 535px;
  min-width: 150px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  background: #bd00ff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 white;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background: #befe3b;
  cursor: ew-resize;
  box-shadow: 0 0 10px 0 white;
}
