/* Components.css
   Chatroom Assignment 
   Array Bootcamp Fall 2021
   Katie Greenwald, Steve Bateman, Bowen Condelario 
*/ 
.cardImage{
    height: 10rem;
    width: 10rem;
}

body{
    color: #fe7fff;
    font-family: Changa;
    font-size: 65px;
    text-shadow: 0px 0px 5px white, 0px 0px 30px #bd00ff, 0px 0px 30px #bd00ff;
}

.bio{
   padding-top: 35rem; 
   width : 75rem; 
    top: 20rem;
   z-index: 3;
   text-align: center;
   font-size: 3.5rem;
}
 .bio2 {
    font-size: 3rem;
    width : 75rem; 
    height: 35rem;
    padding-right: 20rem;
    overflow: scroll;
    overflow-x: hidden; 
    left: 50rem;
}
.arcadeGame{
    left: 24rem;
    top: 10rem;
    position: relative;
    z-index: 2;

    height: 50rem;
    width: 30rem;
}

.aCard{
    background-color: black;
    top:-27rem; 
    position: relative;
    z-index: 0;
    left: -.5rem; 
    color: lightblue;
}

.mfGame{
    height: 10rem;
    width: 15rem;
    position: relative;
    left: 0rem; 
    z-index: 1;
}

.arcadeGame, .aCard, .mfGame {
    position: relative;
}

.gameBox {
    top: 0rem; 
    left:0;
    position: relative;
}

.threeCards, .card {
background-color: black;
color: lightblue;

}

.threeCards{
    top:10rem; 
    display: flex;
    flex: 1 1 auto;
    left: 22rem; 
    position: relative;
    padding-bottom: 10rem;
}