/* Components.css
   Chatroom Assignment 
   Array Bootcamp Fall 2021
   Katie Greenwald, Steve Bateman, Bowen Condelario 
*/ 
/* .aMessage{
    padding-top: 5rem;
} */
.abadge{

    object-fit: contain;
    border-radius: 50%;
}
.PMButton{
    background-color: grey;
    height: 1.5rem;
    width: 2rem;
    cursor: default;
    text-align: center;
    /* border: 3px solid black;  */
}
.thingy{
    left:10rem; 
}
.posty{
    text-align: center;
    text-shadow: 0 0 3px #9900ff, 0 0 5px #0000FF;
    background-color: wheat;
    
    /* flex-direction: column; */
}
.avBox{
   
}
.aMessageBox{
}
.aMessage{
    padding-left: 34rem;
    padding-top: 0rem;
    top: 10; 
    z-index: 1;
    position: relative;
    /* color: black;  */
}

.aLeft {background-color:blanchedalmond;
    width: 14rem; 
    /*  */
}
.aRight{
    background-color: white;
}
.propic{
    padding-bottom: 0;
}
.aPost{
    position: relative;
      z-index: 0;

    text-align: center;
    height: 13rem; 
    width: 14rem;   
 
    text-shadow: 0 0 3px #9900ff, 0 0 5px #0000FF;
    border: 3px solid grey;
    /*  -webkit-text-stroke-width: 1px;border:  background-color:grey; */
}
.anImage{
height: 10rem; 
width: 10rem; 
padding-bottom: 0.9rem;
/* opacity: 0; */
}
.card-title{color: black;}


.messageBox {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 10rem;
}


.AdminButton{
    padding-top: 10rem;
    padding-left: 50rem;
    left: 0rem;
    top: 0rem;
    position: relative; 
}

.mfGame{
    height: 10rem;
    width: 15rem;
    position: relative;
    padding-top: 0rem;
    top: -.5rem; 
    left: 23rem; 

    z-index: 1;
    padding-right: 0;
    justify-content: flex-start; 
}

.arcade{
    top: 5rem; 
    position: relative;
    z-index: 2;
    left: 0; 
    height: 50rem;
    width: 30rem;
}
.righty{
}



.cardTitle{
    font-size: 5rem;
    color: blue; 
    text-align: center;
    
}

.cardText {
    font-size: 3.5rem;
    left: 0rem; 
    /* overflow: scroll;
    overflow-x: hidden;  */
}


.info{
    width: 50rem;  
    height: 30rem;
    left: 0; 
    padding-right: 0rem;
    padding-bottom: 10rem;
    text-align: center;
}

.bio, .bio2{
    padding-right: 0rem;
    position: relative;

}
.profilePic{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}
.bio{
   padding-top: 5rem; 
   width : 25rem; 
 
   z-index: 3;
   text-align: center;
   font-size: 3.5rem;
}
 .bio2 {
    font-size: 3rem;
    width: 50rem; 
    /* overflow: scroll;
    overflow-x: hidden;   */
  
}




.gameBox {
    color: #fe7fff;
    font-family: Changa;
    text-shadow: 0px 0px 5px white, 0px 0px 30px #bd00ff, 0px 0px 30px #bd00ff;
    z-index: 3;

}

.threes{
    padding-top: 14rem;
    padding-bottom: 10rem;
}